*{-moz-box-sizing:border-box; -webkit-box-sizing: border-box;
	box-sizing: border-box;}
html{
	background: url('../imgs/asanoha-400px.png');
}
body{
	width: 80%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
header{
	background: url('../imgs/swirl_pattern.png');
}
header div{
	background: rgba(173, 216, 230, 0.75);
	padding: 1em;
}
header h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0.25em;
}
header h1 a{
	text-decoration: none;
	color: white;
}
main{
	float: left;
	width: 70%;
	background: white;
	padding: 1em;
}
aside{
	float: right;
	width: 30%;
	padding: 1em;
	background: aliceblue;
}
aside h4{
	font-size: 1em;
	text-transform: uppercase;
	margin-top: 2em;
	margin-bottom: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
aside h4 a{
	font-size: 1em;
	text-decoration: none;
	color: black;
}
aside ul li a{
	text-decoration: none;
	color: darkslategray;
}
aside ul li a:hover{
	color: steelblue;
	text-decoration: underline;
}
section ul{
	padding-left: 0.25em;
	margin-top: 0.25em;
}
section ul li{
	list-style-type: none;
}
aside section ul li:before{
	content: '> ';
}
section a{
	font-size: 0.75em;
	color: 000;
}
article{
	border: 5px solid lightblue;
	margin-top: 1em;
	padding: 1em;
}
article h2{
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
article h2 a{
	text-decoration: none;
	color: black;
}
article h3{
	font-size: 0.75em;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: slategray;
	font-weight: 500;
}
h3.right{
	text-align: right;
}
article h3 span{
	color: steelblue;
	font-weight: 700;
}
article p{
	font-size: 0.8em;
}
section li span{
	font-size: 0.75em;
}
input{
	display: block;
}
label{
	display: block;
	margin-top: 1em;
	margin-bottom: 0.25em;
}
form{
	font-size: 0.8em;
}
input, textarea{
	width: 200px;
}
.comment-list{
	margin-top: 1em;	
}
.comment-list ul li{
	border: 5px solid lightblue;
	background: aliceblue;
	padding: 1em;
	margin-top: 0.5em;
}
.comment-list h5{
	margin-top: 0;
	font-size: 0.8em;
}
.comment-body{
	font-size: 0.8em;
}
input#submit{
	background: steelblue;
	color: white;
	border: none;
	padding: 0.5em;
	margin-top: 0.5em;
}
.feedback{
	font-size: 0.8em;
	color: darkred;
}
.search #submit{
	width: 5em;
}
.pagination a{
	text-decoration: none;
	color: steelblue;
	padding-right: 0.5em;
}
.current{
	padding-right: 0.5em;
	font-size: 0.75em;
	text-decoration: underline;
}
.links h3{
	font-size: 1em;
	margin: 0;
	text-transform: uppercase;
}
.links h3 a{
	color: black;
	text-decoration: none;
}
.links p{
	font-size: .8em;
	margin: 0;
}
.links .sm{
	font-size: .65em;
}
.links{
	padding-bottom: 1em;
}
.cat_posts a{
	text-decoration: none;
	color: black;
}
.authors h3{
	font-size: 1em;
	margin: 0;
}
.authors h4{
	font-size: 0.8em;
	margin: 0;
	font-weight: normal;
}
.authors p{
	font-size: .75em;
	margin: 0;
}
.authors{
	margin-bottom: 1em;
}

footer{
	clear: both;
	background: url('../imgs/swirl_pattern.png');
	width: 100%;	
	font-size: 0.65em;
	color: slategray;
}	
footer div{
	background: rgba(173, 216, 230, 0.75);
	padding: 2em;
}